<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.apache.cordova.FacebookConnect" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Facebook Connect</name>
	<description>Facebook connect for Cordova 3.x</description>
	
	<js-module name="Facebook Connect" src="www/facebook_connect.js">
		<clobbers target="cordova.Facebook Connect" />
	</js-module>

	<!-- android -->
    <!-- <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Device" >
                <param name="android-package" value="org.apache.cordova.device.Device"/>
            </feature>
        </config-file>

        <source-file src="src/android/Device.java" target-dir="src/org/apache/cordova/device" />
    </platform> -->

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVDevice"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVDevice.h" />
        <source-file src="src/ios/CDVDevice.m" />
    </platform>

</plugin>